{% for champ in champions['champions'] %}
  <div style="display: inline-block; vertical-align: top; margin: 5px; text-align: center; width: 100px;">
    <div>
      <img src="{{ champ.thumbnail }}" width="64" height="64" />
    </div>

    {{ champ.name }}
  </div>
{% endfor %}
